.stats-card {
  padding: 0 1.25rem;
  width: 100%;
  color: #2E3338;
}

// screen bootstrap lg = 992, to disappear borders when cards get closer
@media screen and (max-width: 992px) {
  .stats-card {
    border: 0 !important;
  }
}
