// Membership Stripe Payment Styling
.payment-legend{
	font-size: .75em !important;
    width: auto;
    padding: 2px 10px;
    border-bottom: none;
    margin: 0 auto;
    position: relative;
    border-radius: 3px;
    font-weight: 500;
}

.StripeCoupon{
    margin: 2%; 
    height: 40px;
    width: -webkit-fill-available;
    color: #424770;
    font-family: Open Sans, sans-serif;
    letter-spacing: 0.025em;

    .form-control{
      border-color: #b3bdcc1c;
      border-left: 0px solid transparent;
      font-size: 16px;

      &:focus{
        color: #495057;
        background-color: #fff;
        border-color: transparent;
        box-shadow: none;
      }
      &::placeholder {
        opacity: 1;
        color: #aab7c4 !important;
      }

    }
    
    .input-group {
      padding: 2px 8px;
      &:focus{
        color: #495057;
        background-color: #fff;
        border-color: transparent;
        box-shadow: none;
      }
      .input-group-text{
        border-right: 0px solid transparent !important;
      }
    }
}



/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  background-color: white;
  margin: 5% 2% 0;
}



.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}