.webinar-viewer {
  overflow-x: hidden;

  .video {
    &__wrapper {
      background-color: #333;
    }
    &__header {
      &__left {
        flex-grow: 1;
      }

      &__right {
        flex-grow: 1;
      }
    }

    &__body {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0px;
    }

    .btn-outline-light {
      background-color: #666;
    }
  }

  .sidebar {
    &__tabs {
      .react-tabs {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;

        ul {
          .react-tabs__tab {
            font-size: 14px;
            cursor: pointer;
            list-style: none;
            outline: none;
            flex-grow: 1;
            text-align: center;
            padding: 10px 12px;
            border: 0;
            border-bottom: 1px solid rgba($primary, 0.2);

            &--selected {
              border: 0;
              border-bottom: 3px solid $primary;
            }
          }
        }

        &__tab-panel {
          &--selected {
            display: flex;
            flex-grow: 1;
            overflow: hidden;
            transition: height 5s ease;
          }
        }
      }

      &__content {
        &__body {
          flex-grow: 1;
          flex-shrink: 0;
          flex-basis: 0px;
          overflow-y: auto;
        }

        &__footer {
          height: 150px;
          border-top: 1px solid #ccc;
        }
      }
    }
  }

  .hidden {
    .sidebar__tabs {
      .react-tabs__tab-panel--selected {
        transition: height 200ms ease;
        // height: 0;
      }
    }
  }
}
