/* basic styles */
.skeleton {
    background: #ddd;
    margin: 10px 0;
    opacity: .7;
    border-radius: 4px;
    animation: skeleton-loading 1s linear infinite alternate;
  }

.skeleton.text {
    width: 100%;
    height: 12px;
}

.skeleton.title {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
}

.skeleton.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.skeleton.thumbnail {
    width: 100px;
    height: 100px;
}

.skeleton.table{
    width: 100%;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
} 

.skeleton-wrapper {
    margin: 20px auto;
    padding: 10px 15px;
}