// Main content adjustments

// when sidebar is not collapsed
@media (min-width: 768px) {
  .main-sidebar + .main-content {
    margin-left: $main-sidebar-width;
  }
}

.sidebar-backdrop {
  opacity: 0;
  background-color: rgb(0, 0, 0);

  transition: opacity 200ms ease-in-out;
}

@include media-breakpoint-down(sm) {
  .main-sidebar.open + .main-content > .sidebar-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.12;
  }
}


.main-content {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .inner {
    flex-grow: 1;
    overflow: auto;
    position: relative;

    display: flex;
    flex-direction: column;
  }
}

.webinar-details-navbar.bg-light {
  background-color: $bg-light !important;
}

.main-content > .main-content-container, .main-content > .main-footer {
  background-color: $not-white;
}

.main-content > .main-footer {
  // margin-bottom: 5px;
}

.main-content > .main-content-container.container-fluid {
  min-height: calc(100vh - #{$main-navbar-height });
}
