// Main footer

.main-footer {
  margin-top: auto;

  height: $main-footer-height;
  font-weight: 400;

  .copyright {
    color: $main-footer-copyright-color;
    font-size: 0.75rem;
  }

  .copyright-link {
    color: $gray-600;
    text-decoration: underline;
    font-size: 0.75rem;
  }

  @include media-breakpoint-down(sm) {
    display: block !important;
    height: auto;

    .nav {
      width: 100%;
      display: block;
      border-bottom: 1px solid $border-color;
      padding-bottom: $spacer / 2;
    }

    .copyright {
      display: inline-block;
      width: 100%;
      padding: 1rem;
      text-align: center;
    }
  }
}
