// Main navbar adjustments

.main-navbar {
  background: $midnight;
  display: none;
  text-align: center;
  padding: 0.25rem;


  .show-sidebar-button {
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    position: absolute;
    left: 0.5rem;
  }

  @include media-breakpoint-down(sm) {
    display: block
  }
}