$first-bar-height: 3.125rem;
$second-bar-height: 3.75rem;

.webinar-creation-navbar {
  background-color: $midnight;
  color: $not-white;
  width: calc(100vw);
  min-height: $first-bar-height;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}

.webinar-creation-back {
  padding-left: 1.875rem;
  color: $not-white;
}

.webinar-creation-back:hover {
  color: $not-white !important;
  text-decoration: none !important;
}

.webinar-creation-steps-navbar {
  background-color: $midnight-tint;
  color: white;
  width: calc(100vw);
  min-height: $second-bar-height;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 0 1rem;

  .line {
    width: 50px;
    height: 0;
    margin: 0 4px;
  }

  .solid {
    border-bottom: 2px solid white;
  }

  .dotted {
    border-bottom: 4px dotted rgba(255, 255, 255, 0.6);
    //border-style: dotted none none none;
  }

  .disabled {
    color: rgba(255, 255, 255, 0.6) !important;
    border-color: rgba(255, 255, 255, 0.6) !important;
  }

  .step-past {
    height: 1.25rem;
    min-height: 1.25rem;
    width: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    background-color: #28A745;
    border: 1px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='white' class='bi bi-check-lg' viewBox='0 0 16 16'> <path d='M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z'/> </svg>");
    margin-right: 0.25rem;
  }

  .step-present {
    height: 1.25rem;
    min-height: 1.25rem;
    width: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    background-color: white;
    border: 1px solid white;
    margin-right: 0.25rem;
  }

  .step-future {
    height: 1rem;
    min-height: 1rem;
    width: 1rem;
    min-width: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-right: 0.25rem;
  }

  .step-link {
    color: inherit;
  }

  .hide-on-xs {
    display: none;
  }

  // smaller than bootstrap lg
  @media screen and (max-width: 992px) {

  }
}

