// General utilities
.main-navbar .navbar > *{
  // border-top-left-radius: 25px;
  // margin-top:5px;
}
.main-footer {
  // border-bottom-left-radius: 25px;
}
// Overflow helpers
.overflow {
  &-hidden { overflow: hidden; }
  &-visible { overflow: visible; }
  &-scroll { overflow: scroll; }
  &-auto { overflow: auto; }
}

// Remove shadows
.no-shadow {
  box-shadow: none !important;
}

.pointer{
  cursor: pointer;
}

.swal2-close:focus{
  outline: none;
}

.text-bold{
  font-weight: 500;
}