/* total width */
::-webkit-scrollbar {
  background-color: #fff;
  width: $scrollbar-size;
  height: $scrollbar-size;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: $gray-600;
  border-radius: 8px;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display:none;
}
