// Analytics Overview Dashboard Template

// Goals overview stats
.go-stats {
  .list-group {
    .list-group-item {
      padding-top: $go-list-group-item-padding-y;
      padding-bottom: $go-list-group-item-padding-y;
    }
  }

  &__label {
    margin: 0;
    padding: 0;
    font-size: $go-label-font-size;
    font-weight: $go-label-font-weight;
  }

  &__meta {
    font-size: $go-meta-font-size;
    color: $go-meta-color;

    strong {
      color: $go-meta-strong-color;
    }
  }

  &__value {
    flex: 1;
    padding-right: $go-value-padding-right;
  }
}

// Date range selectors
#analytics-overview-date-range {
  max-width: 350px;

  @include media-breakpoint-down(xs) {
    max-width: 100%;
  }
}

.custom-switch .custom-control-label {
  padding-left: 0.375rem;
}

.custom-switch .custom-control-label::before {
  left: 0;
}
.custom-switch .custom-control-label::after {
  left: 0.125rem;
}

body {
  color: $gray-900;
}

.nav-tabs {

  .nav-link {
    color: $gray-900;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1.25rem;
  }

  .nav-link.active {
    color: $gray-900;
    background-color: $not-white;
    border: none;
    box-shadow: 0 1px 0 $not-white, 1px 0 0 $gray-400, -1px 0 0 $gray-400, 0 -1px 0 $gray-400;
  }
}

#statistics-container {
  background-repeat: no-repeat;
  background-size: 100% 6.875rem;
  width: 100%;
  height: 6.875rem;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.custom-secondary {
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #2E3338;
  color: #2E3338;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
}

.analytics-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container2 {
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.actions {
  background: white;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
