// Authentication Templates
//
// This partial contains the styles for the Register, Login
// Forgot Password and Reset Password templates.

.auth-form {
  min-width: $auth-form-min-width;
  max-width: $auth-form-max-width;

  .card-body {
    overflow: hidden;
    box-shadow: $auth-form-card-body-box-shadow;
    border-radius: $auth-form-card-body-border-radius;
  }

  &__logo {
    max-width: $auth-form-logo-max-width;
  }

  &__title {
    font-size: $auth-form-title-font-size;
    font-family: $font-family-poppins-first;
  }

  &__social-icons {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;

      a {
        padding: $auth-form-social-icons-link-padding;
        font-size: $auth-form-social-icons-link-font-size;
        color: $auth-form-social-icons-link-color;
        transition: $auth-form-social-icons-link-transition;

        &:hover {
          color: $auth-form-social-icons-link-hover-color;
        }
      }
    }
  }

  &__meta a {
    font-weight: $auth-form-meta-font-weight;
    color: $auth-form-meta-font-color;

    &:hover {
      color: $auth-form-meta-hover-font-color;
    }
  }
}

.register-form {
  min-width: $register-form-min-width;
  max-width: $register-form-max-width;

  .form-group{
    padding: 0 $register-form-group-padding;

    .custom-radio .custom-control-label::after{
      background: none;
    }

    .form-bg{
      &__primary{
        .custom-radio .custom-control-input:checked ~ .custom-control-label::before{
          background: theme-color('primary');
        }
      }
      &__secondary{
        .custom-radio .custom-control-input:checked ~ .custom-control-label::before{
          background: theme-color('secondary');
        }
      }
      &__success{
        .custom-radio .custom-control-input:checked ~ .custom-control-label::before{
          background: theme-color('success');
        }
      }
      &__warning{
        .custom-radio .custom-control-input:checked ~ .custom-control-label::before{
          background: theme-color('warning');
        }
      }
    }



    .card{
      border: 1px solid;
      box-shadow: none;
      margin-bottom: $register-form-group-padding;

      .card-header {
        padding: $register-form-card-body-padding;
        .custom-control{
          display: inline-block;
        }
      }
      .card-body {
        padding: $register-form-card-body-padding;
        overflow: hidden;
      }
      .card-footer {
        padding: $register-form-card-body-padding;
      }
    }
  }

  .card-body {
    overflow: hidden;
  }

  &__logo {
    max-width: $register-form-logo-max-width;
  }

  &__title {
    font-size: $register-form-title-font-size;
    font-family: $font-family-poppins-first;
  }

  &__social-icons {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;

      a {
        padding: $register-form-social-icons-link-padding;
        font-size: $register-form-social-icons-link-font-size;
        color: $register-form-social-icons-link-color;
        transition: $register-form-social-icons-link-transition;

        &:hover {
          color: $register-form-social-icons-link-hover-color;
        }
      }
    }
  }

  &__meta a {
    font-weight: $register-form-meta-font-weight;
    color: $register-form-meta-font-color;

    &:hover {
      color: $register-form-meta-hover-font-color;
    }
  }
}
