// Extras
@import "variables";

$brand-color: #2d53fe;

.membership-details {
    .custom-toggle .custom-control-input:checked ~ .custom-control-label::before {
        background: $brand-color;
        border-color: $brand-color;
    }

    .product:hover, .product.active{
        background: $brand-color;
        color: white;
        h4{
            color: white;
        }
        .badge.badge-primary.badge-pill{
            background: #00b8d8;
        }
    }

    .custom-radio.custom-control {
        padding:0;
    }

    .custom-radio .custom-control-label{
        display: none;
    }

    #tabs{
        background: #007b5e;
        color: #eee;
    }
    #tabs h6.section-title{
        color: #eee;
    }

    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover
     {
        // color: #f3f3f3;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 4px solid !important;
    }
    #tabs .nav-tabs .nav-link {
        border: 0;
        color: #eee;
    }
    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:focus {
        outline: none;
        border: 0;
    }
}