.webinar-calendar{

  .rbc-calendar .rbc-time-column.rbc-today{
    background: inherit;
  }
  .rbc-calendar .rbc-time-header-content{
    border: none;
  }
  .rbc-calendar .rbc-time-view .rbc-header{
    min-height: 55px;
    border: none;
  }
  .rbc-allday-cell{
    display: none;
  }
  .rbc-calendar .rbc-current-time-indicator{
    background-color: $primary;
  }
  .rbc-calendar .rbc-current-time-indicator:after{
    background-color: $primary;
  }
  .rbc-calendar .rbc-time-view{
    border-radius: 5px;
    background: $white;
    border: transparent;
  }
  .rbc-calendar .rbc-timeslot-group .rbc-time-slot{
    border: 0;
  }
  .rbc-calendar .rbc-time-column.rbc-today .rbc-timeslot-group, .rbc-calendar .rbc-time-column.rbc-today .rbc-time-slot{
    border-color: #ededed !important;
  }
}

.today-color {
  color: #D72E3D;
}

.today-background {
  background-color: #D72E3D !important;
  color: white !important;
}
