.webinar-details {
 
}

.webinar-details-navbar{
  min-height: 55px;
  .highlight::after {
    content: "";
    position: absolute;
    bottom: -7px; left: 0; right: 0;
    border-right: 1px solid $secondary;
    // border-bottom: 20px solid orange;
    border-bottom: 5px solid $primary;
  }
}


.webinar-schedule{
  .rbc-calendar .rbc-day-slot .rbc-time-slot {
    border-color: transparent !important;
  }
  .rbc-calendar .rbc-time-column.rbc-today{
    background: transparent;
  }
  // .rbc-calendar .rbc-day-slot.rbc-time-column.rbc-today .rbc-time-slot{
  //     border-bottom: 1px dashed #ccc !important;
  // }
  .rbc-slot-selection{
    background-color: rgba($color: $primary, $alpha: 0.5);
  }
  .webinar-schedule .rbc-calendar .rbc-time-column.rbc-today .rbc-timeslot-group{
    border-bottom: 1px dashed #ccc !important;
  }
  .rbc-calendar .rbc-time-content > * + * > *{
    border-right: none !important;
  }
  .rbc-calendar .rbc-time-column.rbc-today .rbc-time-slot{
    border: transparent !important;
  }
  .rbc-calendar .rbc-time-view .rbc-time-header{
    display:none;
  }
  .rbc-calendar .rbc-current-time-indicator{
    background-color: $primary;
  }
  .rbc-calendar .rbc-current-time-indicator:after{
    background-color: $primary;
  }
  .rbc-calendar .rbc-time-view{
    border-radius: 5px;
    background: $white;
    border: transparent;
  }

  .rbc-calendar .rbc-time-content{
    border: 0;
  }

  .rbc-calendar .rbc-timeslot-group .rbc-time-slot{
    border: 0;
  }
  .rbc-calendar .rbc-time-column.rbc-today .rbc-timeslot-group, .rbc-calendar .rbc-time-column.rbc-today .rbc-time-slot{
    border-color: #ededed !important;
  }
}

.btn-outline-secondary {
  color: #2E3338;

  :hover{
    color: red;
  }
}

// For the bottom save button
.webinar-creation-wrapper {
  height: 100vh;
  background: gray;
  display: flex;
  flex-direction: column;
}

.webinar-creation-actions {
  background: white;
  padding: 0.75rem;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.1);
}

.webinar-creation-viewport {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
