.icon {
  width: 80%;
  height: 96px;
  object-fit: contain;
}
.title {
  font-size: 1rem;
}
.desc {
  font-size: 0.8rem;
  height: 40px;
}
.button {
  font-size: 0.9rem !important;
}
.toggle {
  line-height: 1.8rem !important;
}
.active {
  position: absolute;
  right: 1.5rem;
}