// Main Stylesheet
// Main SDP Styles
@import "../styles/shards-dashboards";

// Override default variables before the import
// $theme-colors: (
//   "primary": #2177E0,
//   "danger": #ff4136
// );

// Import Bootstrap and its default variables
// @import "~bootstrap/scss/bootstrap";


// Variables
@import "./variables";

// Plugin Styles
@import "./dropzone";
@import "./quill";
@import "./range-date-picker";
@import "./file-manager-list";
@import "./react-tagsinput";
@import "./react-big-calendar";

.swal2-container {
    z-index: 1070;
}

.color-inherit {
    color: inherit;
}